//#region global
    $couleur_primaire: #9356DC;
    $couleur_secondaire: #FF79DA;
    $couleur_tertiaire: #99E2D0;

    $couleur_nav: #DEDEDE;
    $couleur_background: #F3F3F3;
    $couleur-footer: #5F5F5F;
    body {
        font-family: 'roboto';
    }
    h1, h2 {
        font-family: 'shrikhand';
    }
//#endregion global

//#region page d'accueil

//#endregion page d'acceuil